<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace" internalLogFile="c:\sandbox\APIClientTest-internal.log">

  <!-- the targets to write to -->
  <targets>
    <target name="viewer" xsi:type="NLogViewer" includeSourceInfo="true" address="udp://127.0.0.1:9985" />
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\APIClientTest-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>
